.sales_container{
    width: 100%;
    min-height: 650px;
    height: fit-content;
    background: #fff;
    border-radius: 10px;
    margin-top: 29px;
    padding-top: 16px;
}
.sales_dataGrid_container{
    width: 87%;
    margin: 0 auto;
    /* margin-top: 35px; */
}

.editDialog_button{
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    line-height: 21px !important;
    color: #FFFFFF !important;
    background: #3464DC !important;
    border-radius: 5px !important;
    text-transform: capitalize !important;
}