.products_container{
    width: 100%;
    height: 100%;
    color: #000000;
}
.sales_tab_container{
    margin: 0 auto;
    margin-top: 40px;
}
.indicator{
    background-color: transparent !important;
}
.sales_tabsList{
    width: 100% !important;
    /* justify-content: space-between !important; */
}
.tabSelected{
    color: #3464DC !important;
}
.tabRoot{
    display: flex !important;
    padding: 0 !important;
    text-transform:none !important;
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 0.625rem !important;
    line-height: 12px !important;
}
.sales_down_icon{
    width: 8px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}
.product_body_container{
    width: 100%;
}
/* ============ productImport ============*/

.productImport_container{
    width: 100%;
    min-height: 600px;
    height: fit-content;
    background: #fff;
    border-radius: 10px;
    margin-top: 29px;
    padding-top: 36px;

}

.upload_bt{
    font-family: Roboto !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 1.125rem !important;
line-height: 21px !important;
color: #FFFFFF !important;
background: #3464DC !important;
border-radius: 5px !important;
text-transform: none !important;
margin: 5px auto !important;
padding: 8px !important;
width: 200px !important;
}

.flatfileButton_wrapper{
    width: 80%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    height: 200px;
    align-items: center;
}
.flatfileButton_text{
    text-align: center;
    font-size: 1rem;
    color: #9e9e9e;
    font-family: Roboto;
}
.staff_down_icon{
    width: 8px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    /* margin-left: -20px; */
}